.alert-md .alert-button {
    color: #000;
  
}


button.login.disable-hover.button.button-md.button-default.button-default-md.button-block.button-block-md
{
   color: #000;
    background-color: #f7ef36;
}