page-subir-factura {
    .text-center{
        text-align: center; 
    }

    .factura{
        max-width: 80%;
        
    }
    .botones{
        width: 3em;
        
    }

    .gana{
        max-width: 20%;
        margin-bottom: -15px;
    }

    .si{
        margin-right: 3em;
    }   
    
}
